* {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}
body {
    background: #F4F3EE;
    overflow-x: hidden;
    overflow-y: hidden;
}
#new_btn {
	cursor: pointer;
}
.main_container {
}
.account {
	text-align: center;
	max-width: 30vw;
	background: #000411;
	height: 100vh;
}
.new_review {
	/*padding-top: 2%*/
	background: white;
	height: 37vh;
	width: 21vw;
	border-radius: 10px;
	max-height: 40vh;
	overflow: scroll;
}
.new_review h5 {
	text-align: center;
}
.review_submit {
	text-align: center;
}
.user_info {
	text-align: left;
	color: white;
	margin-left: 37%;
}

td {
	max-width: 30vw;
}
.logo {
	margin-top: 7%;
	color: white;
}
.friends {
	height: 40vh;
	background: white;
	overflow-x: hidden;
	overflow-y: scroll;
}
#friends {
	margin-top: 10%;
	color: white;
	text-align: left;
}
.content {
	max-width: 80vw;
	background: #F5F7F6;
	height: 100vh;
	overflow: scroll;
}
.all_reviews {
	margin-top: 3%;
	height: 50vh;
	border: solid black 1px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.popular_reviews {
	margin-top: 3%;
	height: 30vh;
	border: solid black 1px;
	overflow-x: hidden;
	overflow-y: scroll;
}
