* {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}
/*END RESET*/
/*INDEX EDITS*/
.index_container {
    /*height: 100vh;*/
    width: 100vw;
}
.top {
	height: 100vh;
	width: 100vw;
	background: url('../img/light_bg.jpg');
    background-size: cover;
}
.title {
	text-align: center;
	margin-top: 35vh;
}
#arrow {
	font-size: 70pt;
}

#arrow i {
	color: white;
	margin-top: 20vh;
}
.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.middle {
	max-height: 70vh;
	width: 100%;
	/*background: black;*/
	text-align: center;
	padding: 4%;
}
.card {
	width: 30vw;
	vertical-align: top;
	/*margin-top: 5%;*/
}
.row {
	display: inline-block;
}
.bottom {
	width: 100vw;
}
/*LOGIN AND REGISTRATION STYLES*/
.reg_and_login_container {
    width: 100vw;
    height:100vh;
    background: #2D3047;
}
.register {
    background: #EEF0F2;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 20vw;
    height: 20vh;
    /*text-align: center;*/
    margin-top: 20%;
    margin-left: 23.5%;
    padding: 1%
}
#red {
    color: red;
}
.login {
    background: #EEF0F2;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    vertical-align: top;
    width: 20vw;
    height: 20vh;
    /*text-align: center;*/
    margin-top: 20%;
    margin-left: 10%;
    padding: 1%;
}
#cancel_button {
    margin-top: 2%;
    text-align: center;
    display: inline-block;
    margin-left: 45%;
    background: #EEF0F2;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 10px;
}
#cancel_button a h1 {
    color: black;
}
#cancel_button:hover {
    cursor: pointer;

}
