{%extends 'light/block_content.html'%}
{%block content%}
<!-- <h1>Something</h1>  -->
<div class="main_container">
    <div class="row">
        <!-- Grey navigation panel -->
      <div class="col s12 m4 l3 account">
          <div class="row">
              <div class="logo">
                  <em><p>Share The Light</p></em>
              </div>
          </div>
          <div class="row">
              <div class="user_info">
                  <p>{{current_user.name}}</p>
                  <p id="new_btn" class="my_popup_open">Write New Review</p>
                  <!-- <p><a href="/account/{{current_user.id}}">Account</a></p> -->
                  <p><a href="/logout">Logout</a></p>
              </div>
          </div>
          <div class="container">
              <p id="friends">Friends</p>
              <div class="friends">

              </div>
          </div>

      </div>

      <div class="col s12 m8 l9 content">
        <div class="container">
            <!-- ALL REVIEWS -->
            <h5>All Reviews</h5>
            <div class="all_reviews">
                <table class="bordered">
                    <thead>
                      <tr>
                          <th>Name</th>
                          <th>Content</th>
                          <th>Likes</th>
                      </tr>
                    </thead>
                    <tbody>
                        {%for review in reviews%}
                      <tr>
                        <td>{{review.user.name}}</td>
                        <td>{{review.content}}</td>
                        <td>
                            {%if current_user not in review.liked_by.all %}
                              <a href="/like/{{review.id}}">Like {{review.liked_by.all|length}}</a>
                            {%else%}
                              <a href="/unlike/{{review.id}}">Unlike {{review.liked_by.all|length}}</a>
                            {%endif%}
                        </td>
                      </tr>
                      {%endfor%}
                    </tbody>
                  </table>
            </div>
            <!-- POPULAR REVIEWS -->
            <h5>Popular Reviews</h5>
            <div class="popular_reviews">
                <table class="bordered">
                    <thead>
                      <tr>
                          <th>Name</th>
                          <th>Content</th>
                          <th>Likes</th>
                      </tr>
                    </thead>
                    <tbody>
                        {%for review in popular_reviews%}
                      <tr>
                        <td>{{review.user.name}}</td>
                        <td>{{review.content}}</td>
                        <td>
                            {%if current_user not in review.liked_by.all %}
                              <a href="/like/{{review.id}}">Like {{review.liked_by.all|length}}</a>
                            {%else%}
                              <a href="/unlike/{{review.id}}">Unlike {{review.liked_by.all|length}}</a>
                            {%endif%}
                        </td>
                      </tr>
                      {%endfor%}
                    </tbody>
                  </table>
            </div>
        </div>
      </div>
    </div>
</div>
<!-- NEW REVIEWS FORM -->
<div id="my_popup">
    <div class="new_review">
        <div class="row">
            <form class="col s12" action="/create_review" method="post">
                {% csrf_token %}
                <h5>New Review</h5>
                <div class="input-field col s12">
                    <select name="topic">
                        <option value="" disabled selected>Choose your topic</option>
                        <option value="1">Bar/Venue</option>
                        <option value="2">Concert</option>
                    </select>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea" name="content"></textarea>
                        <label for="textarea1">Content</label>
                    </div>
                </div>
                <div class="review_submit">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}
