<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {%load staticfiles%}
        <link rel="stylesheet" href="{% static 'light/css/styles.css' %}">

        <title>Light</title>
    </head>
    <body>
        <div class="index_container">
            <div class="heading_container">
                <h1>Light</h1>
                <h3 id="enter_button">Enter</h3>
            </div>
        </div>
        <div class="reg_and_login_container">
            
        </div>
    </body>
</html>
