{%extends 'light/block_content.html'%}
{%block content%}
<div class="main_reviews_container">
    <div class="popular_reviews">
        <h1>Most Popular Reviews</h1>
        {%for review in popular_reviews%}

        <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
                {% load static from staticfiles %}
              <img src="{%static 'light/img/light_user_default.png'%}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                  <p>{{review.content}}</p>
              </span>
              <br>
              <a href="/like/{{review.id}}">Like {{ review.num_likes }}</a>
            </div>
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
    <div id="new_review">
        <a class="new_review btn btn-floating btn-large cyan pulse"><i class="material-icons">mode_edit</i></a>
        <div id="review_form" hidden>
            <form action="create_review" method="post">
                {% csrf_token %}
                <div class="">
                    <label>File:</label>
                    <input type="file" name="media">
                </div>
                <div class="">
                    <label>Review:</label>
                    <textarea name="content" rows="20" cols="20"></textarea>
                </div>
                <a class="waves-effect waves-light btn cancel">Cancel</a>
                <input class="btn waves-effect waves-light" type="submit" value="Submit">
            </form>
        </div>
    </div>
    <div class="all_reviews">
        <h1>All Reviews</h1>
        {%for review in reviews%}
        <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
                {% load static from staticfiles %}
              <img src="{%static 'light/img/light_user_default.png'%}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                <p>{{review.content}}</p>
              </span>
              {%if current_user not in review.liked_by.all %}
                <a href="/like/{{review.id}}">Like {{review.liked_by.all|length}}</a>
              {%else%}
                <a href="/unlike/{{review.id}}">Unlike {{review.liked_by.all|length}}</a>
              {%endif%}
            </div>
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
</div>
{%endblock%}
